<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Button Types</h1>
       <section class="buttons-block">
        <div>
            <h2>Primary</h2>
            <button class="button">Primary</button>
        </div>
        <div>
            <h2>Secondary</h2>
            <button class="button button--secondary">Secondary</button>
        </div>
        <div>
            <h2>Diasabled</h2>
            <button class=" button button--disabled">Disabled</button>
        </div>
        <div>
            <h2>Highlighted</h2>
            <button class="button button--highlight">Highlight</button>
        </div>
       </section>
    </body>