<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Button Types</h1>
       <section>
        <div>
            <h2>Primary</h2>
            <button class="button-primary">Primary</button>
        </div>
        <div>
            <h2>Secondary</h2>
            <button class="button-secondary">Primary</button>
        </div>
        <div>
            <h2>Diasabled</h2>
            <button class="button-disabled">Primary</button>
        </div>
        <div>
            <h2>Halloween</h2>
            <button class="button-halloween">Primary</button>
        </div>
       </section>
    </body>