html{
    
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 20px;
}

.buttons-block{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightpink;
    border: none;

    &.button--secondary{
        background-color: lightgreen;
    }

    &.button--disabled{
        background-color: rgb(186, 186, 186);
        color:rgb(69, 69, 69);
    }

    &.button--highlight{
        background-color: lightpink;
        color: purple;
        font-weight: bold;
        border: 3px solid purple;
    }
}

